[package]
name = "pingpong"
version = "0.1.0"
authors = ["Vili HeikkilaÌˆ <vili.heikkila@solita.fi>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rocket = "0.4.5"